/* ブラウザで設定されているスタイルのリセット・共通設定 */
/* 消さないでください */
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
li,
form,
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
}
/* スタイルのリセット終了 */

/*padding=余白*/

body {
  margin: 0;
  padding: 0;
}

/* サイドバーとメインコンテンツを包むための要素のスタイルを書いてください */
.dashboard-container {
  display: flex;
  height: 100vh;
}

/* サイドバーに関連するスタイルを書いてください */
/*左の欄のホーム欄追加のスタイル*/
.sidebar {
  width: 256px;
  background-color: #ffcaca;
  border-right: 1px solid #e0e0e0;
  height: auto ;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin:0;
}

/*ヘッダー (HOMEの欄の余白）*/

.sidebar-header {
  padding: 20px;
  border-bottom: 3px solid #ffffff;
}

/*左のホームのリンク欄デザイン*/
.sidebar-home,.sidebar-diary {
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration:underline dotted white;
}



/* メインコンテンツに関連するスタイルを書いてください */
.main-content {
  flex:auto;
}
/*　真ん中の上デザイン */
.section-header {
  background-color: #ffffff;
  padding: 15px;
  border-bottom: 3px solid #ffc3c3;
  text-align: center;
}
/*タイトルの文字*/
.section-title {
  font-size: 1.8rem;
  font-weight: 600;
  color:#fcbebe;
  margin-bottom: 8px;
}
.section-subtitle {
  font-size: 1.125rem;
  color: #fcbebe;
  margin-bottom: 24px;
}
/*メッセージについて*/
.section-description {
  max-width: 672px;
  margin:0 auto;
  color: #ffc3c3;
  padding: 10px;
}
.section-description p {
  margin-bottom: 24px;
}

/*プロフィールアイコン*/
.profile-circle {
  width: 96px;
  height: 96px;
  background-color: #4f7cac;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 24px;
}
.profile-circle span {
  font-size: 2.5rem;
  color: #ffffff;
}

/* メッセージ */
.section-body {
  padding: 13px
}